{% extends "base.j2" %}

{% block title %}Persons{% endblock %}
{% block head %}
  {{ super() }}
  {{ css('config/departments/persons') }}
{% endblock %}

{% block content %}
  <script type="module">
    import { main } from "{{ url_for('static', filename='config/departments/persons.mjs') }}";
    main();
  </script>

  <div class="column-list">
    <table>
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Title</th>
          <th scope="col">Position</th>
          <th scope="col">Office location</th>
          <th scope="col">Email</th>
          <th scope="col">Telephone</th>
          <th scope="col">Office hours</th>
          <th scope="col">Department</th>
        </tr>
      </thead>

      <tbody>
        {%- for person in department.persons -%}
          <tr>
            <td>{{ person.name }}</td>
            <td>{{ person.title }}</td>
            <td>{{ person.position }}</td>
            <td>{{ person.office_location }}</td>
            <td>{{ person.email }}</td>
            <td>{{ person.telephone }}</td>
            <td>{{ person.office_hours }}</td>
            <td>{{ person.department }}</td>
            <td>
              {# <!-- [html-validate-disable-next attribute-allowed-values] --> doesn't understand J2 syntax #}
              <form
                action="/config/departments/{{ department.id }}/persons/{{ person.id }}"
                method="get"
                class="redirect-form"
              >
                <button type="submit">Edit</button>
              </form>
            </td>
            <td>
              <button
                type="button"
                class="delete-button"
                data-department-id="{{ department.id }}"
                data-person-id="{{ person.id }}"
              >
                Delete
              </button>
            </td>
          </tr>
        {%- endfor -%}
      </tbody>
    </table>

    {# <!-- [html-validate-disable-next attribute-allowed-values] --> doesn't understand J2 syntax #}
    <form
      action="/config/departments/{{ department.id }}/persons/add"
      method="get"
      class="redirect-form"
    >
      <button type="submit">Add a person</button>
    </form>

    <p hidden class="status-message"></p>
  </div>
{% endblock %}
