{% extends "base.j2" %}

{% block title %}Add content feed{% endblock %}
{% block head %}
  {{ super() }}
  {{ css('config') }}
{% endblock %}

{% block content %}
  <script type="module">
    import { setupPostForms } from "{{ url_for('static', filename='config.mjs') }}";
    setupPostForms();
  </script>

  <form action="/config" method="get" class="redirect-form">
    <button type="submit">Back</button>
  </form>
  <form action="/api/content_streams" method="post" class="post-form">
    <h3>Add a content feed</h3>
    {%- if current_user.permissions == "superuser" -%}
      <label>
        Department:
        <select name="department" required>
          <option value="">Public</option>
          <optgroup label="Departments">
            {% for dept in departments.values() %}
              {% if department.id == dept.id %}
                {% set selected = 'selected' %}
              {% endif %}

              <option value="{{ dept.id }}" {{ selected }}>
                {{ dept.name }}
              </option>
            {% endfor %}
          </optgroup>
        </select>
      </label>
    {%- endif -%}

    <label for="name">Name:</label>
    <input type="text" id="name" name="name" />

    <label
      >Select permission:
      <select id="permissions" name="permissions">
        <option value="private">Private</option>
        <option value="readable">Any department can subscribe</option>
        <option value="writeable">Any department can post content</option>
      </select>
    </label>

    <button type="submit">Submit</button>
    <p hidden id="status-message"></p>
  </form>
{% endblock %}
