{% extends "base.j2" %}

{% block title %}
  {%- if person.id -%}Edit{%- else -%}Add{%- endif -%}
  a person
{% endblock %}
{% block head %}
  {{ super() }}
  {{ css('config/departments/people') }}
{% endblock %}

{% block content %}
  <script type="module">
    import {
      setupPostForms,
      setupBackButton,
    } from "{{ url_for('static', filename='config.mjs') }}";
    setupPostForms();
    setupBackButton();
  </script>

  <button type="button" id="backButton">Back</button>
  {# <!-- [html-validate-disable-next attribute-allowed-values] --> doesn't understand J2 syntax #}
  <form
    action="/api/departments/{{ department_id }}/people"
    method="post"
    class="post-form"
    enctype="multipart/form-data"
  >
    {%- if person.id -%}
      <input type="hidden" name="id" value="{{ person.id }}" />
    {%- endif -%}

    <label
      >Name:
      <input
        type="text"
        id="name"
        name="name"
        required
        value="{{ person.name }}"
      />
    </label>

    <label
      >Title:
      <select id="title" name="title" required>
        {%- macro title(val, desc) -%}
          {%- set desc = desc|default(val) -%}
          {%- if person.title == val -%}
            {%- set selected = "selected" -%}
          {%- endif -%}

          <option value="{{ val }}" {{ selected }}>{{ desc }}</option>
        {%- endmacro -%}

        {{ title("Mr") }}
        {{ title("Mrs") }}
        {{ title("Ms") }}
        {{ title("Mx") }}
        {{ title("Prof", "Professor") }}
        {{ title("A/Prof", "Associate Professor") }}
        {{ title("Dr") }}
      </select>
    </label>

    <label
      >Upload an image of the person:
      <input type="file" id="image_data" name="image_data" accept="image/*" />
    </label>

    <label
      >Position:
      <input
        type="text"
        id="position"
        name="position"
        value="{{ person.position }}"
      />
    </label>

    <label
      >Office Location:
      <input
        type="text"
        id="office_location"
        name="office_location"
        value="{{ person.office_location }}"
      />
    </label>

    <label
      >Email Address:
      <input type="email" id="email" name="email" value="{{ person.email }}" />
    </label>

    <label
      >Telephone Number:
      <input type="tel" id="phone" name="phone" value="{{ person.phone }}" />
    </label>

    <label
      >Office Hours:
      <input
        type="text"
        id="office_hours"
        name="office_hours"
        value="{{ person.office_hours }}"
      />
    </label>

    <button type="submit">Submit</button>
    <p hidden id="status-message"></p>
  </form>
{% endblock %}
