{% extends "base.j2" %}

{% block title %}
  Upload a table of people
{% endblock %}
{% block head %}
  {{ super() }}
  {{ css('config/departments/people') }}
{% endblock %}

{% block content %}
  <script type="module">
    import { setupPostForms } from "{{ url_for('static', filename='config.mjs') }}";
    setupPostForms(function (res) {
      if (res.id === "response needed") {
        return `Response: ${res.response}`;
      } else {
        return `Successfully submitted (id: ${res.id})`;
      }
    });
  </script>
  <a href="/config/departments/{{ current_user.department }}/people">
    <button type="button">Back</button>
  </a>
  <img
    src="{{ url_for('static', filename='/excel_table_format.png') }}"
    alt="Image Description"
  />
  <p>
    This is the template format of the excel file you are to upload. Please
    ensure that the headers are have the exact same names. The data in the
    entries can be whatever you would like. If you do not wish to upload certain
    data simply leave those entries blank like in the format example picture. If
    you want pictures of people in the department then put the name of the image
    in the image name field and upload a zip folder containing those images.
    Ensure that the image names are correct to what's in the excel file.
  </p>
  {# <!-- [html-validate-disable-next attribute-allowed-values] --> doesn't understand J2 syntax #}
  <form
    action="/api/departments/{{ department_id }}/uploadtable"
    method="post"
    class="post-form"
    enctype="multipart/form-data"
  >
    <label for="add_table">Upload an excel file of the department info:</label>
    <input type="file" name="add_table" id="add_table" accept=".xlsx, .xls" />
    <label for="images_folder"
      >Upload a zip folder of all the images of the department staff:</label
    >
    <input type="file" name="images_folder" id="images_folder" accept=".zip" />
    <button type="submit">Submit</button>
    <p hidden id="status-message"></p>
  </form>
{% endblock %}
