{% extends "base.j2" %}

{% block title %}
  Upload a table of people
{% endblock %}
{% block head %}
  {{ super() }}
  {{ css('config/departments/people') }}
{% endblock %}

{% block content %}
  <script type="module">
    import { setupPostForms } from "{{ url_for('static', filename='config.mjs') }}";
    setupPostForms();
  </script>
  <button type="button" onclick="history.back();">Back</button>
  <img
    src="{{ url_for('static', filename='/excel_table_format.png') }}"
    alt="Image Description"
  />
  {# <!-- [html-validate-disable-next attribute-allowed-values] --> doesn't understand J2 syntax #}
  <form
    action="/api/departments/{{ department_id }}/uploadtable"
    method="post"
    class="post-form"
    enctype="multipart/form-data"
  >
    <label for="add_table"
      >Upload an Excel file of department information:</label
    >
    <input type="file" name="add_table" id="add_table" accept=".xlsx, .xls" />
    <br /><br />
    <button type="submit">Submit</button>
    <p hidden id="status-message"></p>
  </form>
{% endblock %}
