{% extends "base.j2" %}
{% if current_user.permissions == "superuser" %}
  {% set title = "Departments" %}
{% else %}
  {% set title = "Department" %}
{% endif %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
  {{ super() }}
  {{ css('config/departments/people') }}
{% endblock %}

{% block content %}
  <script type="module">
    import { main } from "{{ url_for('static', filename='config/departments/people.mjs') }}";
    main();
  </script>
  <div class="department-description">
    <p>
      This section serves as your hub for managing departmental information.
      Here, you can:
    </p>
    <ul>
      <li>Upload, update and delete member profiles</li>
      <li>Upload whole tables of member profiles</li>
    </ul>
    <p>
      Streamline the process of sharing department details on your noticeboards.
    </p>
  </div>
  <div class="column-list">
    {%- for department in departments -%}
      <h2>{{ department.name }}</h2>
      <table>
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Title</th>
            <th scope="col">Image</th>
            <th scope="col">Position</th>
            <th scope="col">Office location</th>
            <th scope="col">Email</th>
            <th scope="col">Telephone</th>
            <th scope="col">Office hours</th>
            {% if current_user.permissions != 'posting_user' %}
              <th scope="col"></th>
              <th scope="col"></th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {%- for person in department.people -%}
            <tr>
              <td>{{ person.name }}</td>
              <td>{{ person.title }}</td>
              <td>
                <img
                  src="/api/departments/{{ department.id }}/people/{{ person.id }}/image"
                  alt="No image"
                />
              </td>
              <td>{{ person.position }}</td>
              <td>{{ person.office_location }}</td>
              <td>{{ person.email }}</td>
              <td>{{ person.phone }}</td>
              <td>{{ person.office_hours }}</td>
              {# Check if current_user.permissions is 'posting_user' and disable the buttons accordingly #}
              {% if current_user.permissions != 'posting_user' %}
                <td>
                  {# <!-- [html-validate-disable-next attribute-allowed-values] --> doesn't understand J2 syntax #}
                  <form
                    action="/config/departments/{{ department.id }}/people/{{ person.id }}"
                    method="get"
                    class="redirect-form"
                  >
                    <button type="submit">Edit</button>
                  </form>
                </td>
                <td>
                  <button
                    type="button"
                    class="delete-button"
                    data-department-id="{{ department.id }}"
                    data-person-id="{{ person.id }}"
                  >
                    Delete
                  </button>
                </td>
              {% endif %}
            </tr>
          {%- endfor -%}
        </tbody>
      </table>
      {% if current_user.permissions != 'posting_user' %}
        {# Check if current_user.permissions is 'posting_user' and disable the buttons accordingly #}
        {# <!-- [html-validate-disable-next attribute-allowed-values] --> doesn't understand J2 syntax #}
        <form
          action="/config/departments/{{ department.id }}/people/add"
          method="get"
          class="redirect-form"
        >
          <button type="submit">Add a person</button>
        </form>
        {# <!-- [html-validate-disable-next attribute-allowed-values] --> doesn't understand J2 syntax #}
        <form
          action="/config/departments/{{ department.id }}/people/add_table"
          method="get"
          class="redirect-form"
        >
          <button type="submit">Add a table of people</button>
        </form>
      {% endif %}
    {%- endfor -%}
    <p hidden id="status-message"></p>
  </div>
{% endblock %}
