@import url("main.css");

#status-message pre {
  margin-left: 15px;
}

.error {
  color: red;
}

.preview-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 16px;
}

.preview-container h1 {
  font-size: 2rem;
}

.resizer {
  display: flex;
  flex-direction: column;
  resize: both;
  overflow: hidden;
  aspect-ratio: 16 / 9;
}

.resizer > .resized {
  flex-grow: 1;
  margin: 0;
  padding: 0;
}

.display-entry * {
  margin: 0;
}

.display-small-preview-container {
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

span.button-icon {
  margin-left: 5px;
  vertical-align: middle;
  color: black;
  outline: 1px solid black;
  border-radius: 3px;
  background: white;
  padding: 0;
  border: 1px solid black;
  display: inline;
  cursor: pointer;
  -webkit-touch-callout: none;
  user-select: none;
}

span.button-icon:hover {
  background-color: #808080;
}

button.icon-button {
  display: contents;
}

a.button-link {
  text-decoration: none;
  display: inline-block;
}

.display-small-preview {
  height: 300%;
  width: 300%;
  transform: scale(calc(100% / 3));
  border: 6px inset;
  transform-origin: top left;
}

h2 {
  text-align: center;
}

a {
  text-decoration: none;
  color: #226ea0;
  font-weight: bold;
}

li a {
  text-decoration: none;
  color: #226ea0;
  font-weight: bold;
}

a:hover {
  color: #c76210;
}

li a:hover {
  color: #c76210;
}
