@import url("main.css");

#status-message pre {
  margin-left: 15px;
}

.error {
  color: red;
}

.preview-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 16px;
}

.preview-container h1 {
  font-size: 2rem;
}

.resizer {
  display: flex;
  flex-direction: column;
  resize: both;
  overflow: hidden;
  height: 100vh;
}

.resizer > .resized {
  flex-grow: 1;
  margin: 0;
  padding: 0;
}
