@import url("main.css");

#status-message pre {
  margin-left: 15px;
}

.error {
  color: red;
}

.resizer {
  display: flex;
  margin: 0;
  padding: 0;
  resize: both;
  overflow: hidden;
}

.resizer > .resized {
  flex-grow: 1;
  margin: 0;
  padding: 0;
}
