@import url("main.css");

/* Root styles */
:root {
  --content-gap: 15px;
}

html,
body,
#root,
.page,
#pages {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

[hidden] {
  display: none !important;
}

/* Builtin classes */
.scaled-iframe {
  --scale: 2;

  width: calc(100% / var(--scale));
  height: calc(100% / var(--scale));
  transform: scale(var(--scale));
  transform-origin: top left;
}

/* Widget styles */
.content-stream,
.department {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--content-gap);
  height: 100%;
  min-height: 0;
}

:is(.content-stream, .department) > * {
  min-height: 0;
  min-width: 0;
  overflow: hidden;
}

.person {
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 5px;
  border: 3px solid #000;
}

.content-stream img {
  display: flex;
  width: 100%;
  height: 80%;
  object-fit: contain;
}

.department > div > img {
  display: flex;
  max-width: 100%;
  max-height: 40%;
  object-fit: contain;
  height: auto;
  width: auto;
}

.clock {
  text-align: center;
  font-size: 24pt;
}

.loadshedding {
  display: flex;
  flex-direction: column;
  top: 10px;
  right: 10px;
  padding: 10px;
  border: 3px solid #000;
  border-radius: 5px;
  font-size: 20px;
}

/* Free form content widgets */
.free-form-content,
.person {
  display: inline-block;
  border: 3px solid #000;
}

.free-form-content {
  font-size: 1.3em;
  padding: 15px;
  overflow: hidden;
}

.image img,
.qrcode {
  display: inline;
  max-width: min(100%, 300px);
  max-height: 100%;
  padding-right: 15px;
  margin-top: -30px;
  padding-top: 30px;
  padding-bottom: 15px;
  float: left;
  object-fit: contain;
  object-position: left top;
}

.qrcode {
  height: unset !important;
  width: unset !important;
}

:is(.image img, .qrcode canvas):last-child {
  max-height: unset;
  max-width: unset;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.iframe-content {
  padding: 0;
}

.iframe-content iframe {
  width: 100%;
  height: 100%;
}

.link iframe {
  width: 100%;
  height: 50%;
}

.link .qrcode {
  height: 50% !important;
}

.text-title,
.caption-title {
  padding: 5px 15px;
  margin: -15px -15px 5px;
  font-size: 1.5em;
}

.caption-body {
  display: contents;
}

.text-body,
.caption-body {
  margin: 0;
}
