* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
}

#main-wrap {
  margin: 0 auto 8px;
  max-width: 100%;
}

@media screen and (width >= 800px) {
  #main-wrap {
    width: 800px;
  }
}

main {
  margin: 0 auto;
  width: 35em;
  max-width: 100%;
  line-height: 1.5rem;
}

header {
  background-color: #333;
  color: rgb(248 245 245);
  text-align: center;
  padding: 10px 0;
}

h2 {
  text-align: center;
}

nav {
  background-color: #666;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

a {
  text-decoration: none;
  color: #226ea0;
  font-weight: bold;
}

nav a,
header a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
}

li a {
  text-decoration: none;
  color: #226ea0;
  font-weight: bold;
}

/* Style for the logout button */
.user-info a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
}

a:hover {
  color: #c76210;
}

li a:hover {
  color: #c76210;
}

nav a:hover,
header a:hover {
  background-color: #444;
}

form {
  max-width: 600px;
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0 0 0 / 10%);
}

form,
fieldset,
.column-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 10px;
  box-shadow: 0 0 15px 4px  #333;
}

*[hidden] {
  display: none;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #444;
}

select {
  font-size: 12pt;
}

select[multiple] {
  display: block;
}

/* Style for the header content container */
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Style for the title */
h1 {
  margin: 0;
  font-size: 1.5rem;
}

/* Style for the user information and logout button */
.user-info {
  text-align: right;
  align-items: right;
}

/* Style for the welcome message */
.user-info p {
  margin: 0;
}

/* Style for images used in the config */
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

details {
  display: flex;
  flex-direction: column;
}
