{% extends "base.j2" %}
{% from "macros.j2" import content_stream %}

{%- if existing_pages is not none -%}
  {% set action = 'Edit a display group' %}
{%- else -%}
  {% set action = 'Add a display group' %}
{%- endif -%}

{% block title %}{{ action }}{% endblock %}
{% block head %}
  {{ super() }}
  {{ css('config/display_groups/add') }}
{% endblock %}

{%- macro render_property(property) -%}
  {%- if property.type == "string" -%}
    <label
      >{{ property.name }}
      <input
        type="text"
        data-variable-name="{{ property.variable }}"
        value="{{ (property.default or '')|escape }}"
      />
    </label>
  {%- elif property.type == "file" -%}
    <label
      >{{ property.name }}
      <input type="file" data-variable-name="{{ property.variable }}" />
    </label>
  {%- elif property.type == "url" -%}
    <label>
      {{ property.name }}
      <input
        type="url"
        data-variable-name="{{ property.variable }}"
        value="{{ property.default|escape }}"
      />
    </label>
  {%- elif property.type == "file_or_url" -%}
    <fieldset>
      <legend>{{ property.name }}</legend>
      <label
        >File or URL
        <select class="select-file-or-url">
          <option value="url" selected>URL</option>
          <option value="file">File</option>
        </select>
      </label>

      <input
        aria-label="upload file"
        class="input-for-file"
        type="file"
        data-variable-name="{{ property.variable }}"
      />
      <input
        aria-label="input URL"
        class="input-for-url"
        type="url"
        data-variable-name="{{ property.variable }}"
        value="{{ property.default }}"
      />
    </fieldset>
  {%- elif property.type == "color" -%}
    <label
      >{{ property.name }}
      <input
        type="color"
        data-variable-name="{{ property.variable }}"
        value="{{ property.default }}"
      />
    </label>
  {%- elif property.type == "content_streams" -%}
    <label
      >{{ property.name }}:
      <select data-variable-name="{{ property.variable }}" multiple>
        <optgroup label="Public">
          {%- for stream in streams.public -%}
            <option value="{{ stream.id }}">{{ stream.name }}</option>
          {%- endfor -%}
        </optgroup>

        {%- for dept, streams in streams.by_department.items() -%}
          <optgroup label="Department: {{ dept }}">
            {%- for stream in streams -%}
              <option value="{{ stream.id }}">{{ stream.name }}</option>
            {%- endfor -%}
          </optgroup>
        {%- endfor -%}

        {%- for group, streams in streams.by_display_group.items() -%}
          <optgroup label="Display group: {{ group }}">
            {%- for stream in streams -%}
              <option value="{{ stream.id }}">{{ stream.name }}</option>
            {%- endfor -%}
          </optgroup>
        {%- endfor -%}
      </select>
    </label>
  {%- elif property.type in ["html", "xml-attribute"] -%}
    <label
      >{{ property.name }}
      <textarea data-variable-name="{{ property.variable }}" rows="5">
{{ (property.default or '')|escape }}</textarea
      >
    </label>
  {%- elif property.type == "number" -%}
    <label
      >{{ property.name }}
      <input
        type="number"
        data-variable-name="{{ property.variable }}"
        value="{{ (property.default or '')|escape }}"
      />
    </label>
  {%- endif -%}
{%- endmacro -%}

{%- macro render_group(group) -%}
  <fieldset>
    <legend>{{ group.name }}</legend>
    {%- for property in group.properties -%}
      {{ render_property(property) }}
    {%- endfor -%}
  </fieldset>
{%- endmacro -%}

{%- macro render_props_and_groups(vals) -%}
  {%- for val in vals -%}
    {%- if val|is_property -%}
      {{ render_property(val) }}
    {%- else -%}
      {{ render_group(val) }}
    {%- endif -%}
  {%- endfor -%}
{%- endmacro -%}

{% block content %}
  {%- if existing is not none -%}
    {% set pages = existing.pages %}
    {% set name = existing.name %}
  {%- else -%}
    {% set pages = [] %}
    {% set name = '' %}
  {%- endif -%}

  <!-- prettier-ignore -->
  <script type="module">
    import { main } from "{{ url_for('static', filename='config/display_groups/add.mjs') }}";
    main("{{ department_id }}", {{ pages|tojson }});
  </script>


  {# <!-- [html-validate-disable-next attribute-allowed-values] --> doesn't understand J2 syntax #}
  <form
    id="display-group-form"
    action="/api/departments/{{ department_id }}/display_groups"
    enctype="multipart/form-data"
    method="post"
    class="post-form"
  >
    <label for="name">Name:</label>
    <input id="name" name="name" type="text" required value="{{ name }}" />

    {%- if existing is not none -%}
      <input type="hidden" name="group_id" value="{{ existing.id }}" />
    {%- endif -%}

    <template id="new-page-template">
      <fieldset>
        <legend>Page</legend>

        <label
          >Template:
          <select class="template-select">
            {%- for template in templates -%}
              <option value="{{ template.id }}">{{ template.name }}</option>
            {%- endfor -%}
          </select>
        </label>

        <label
          >Duration to show page (secs):
          <input class="template-duration" type="number" value="10" />
        </label>

        {%- for template in templates -%}
          <fieldset
            class="template-{{ template.id.replace('.', '-').replace('/', '-') }}"
          >
            <legend>{{ template.name }}</legend>

            {{ render_props_and_groups(template.properties.root) }}

            {%- if template.properties.advanced -%}
              <details>
                <summary>Advanced</summary>
                {{ render_props_and_groups(template.properties.advanced) }}
              </details>
            {%- endif -%}
          </fieldset>
        {%- endfor -%}

        <button type="button" class="delete-page">Delete page</button>
      </fieldset>
    </template>

    <button type="button" id="add-page">Add page</button>

    <button type="submit">Submit</button>
    <p hidden id="status-message"></p>
  </form>
{% endblock %}
{% block after_main %}
  <div id="preview-container">
    <h1>Preview</h1>
    <div class="resizer">
      <iframe
        title="Preview"
        id="preview"
        class="resized"
        data-preview-url="/api/departments/{{ department_id }}/preview_display"
      ></iframe>
    </div>
  </div>
{% endblock %}
