{% extends "base.j2" %}
{% from "macros.j2" import content_stream %}

{% block title %}Add display group{% endblock %}
{% block head %}
  {{ super() }}
  {{ css('config') }}
{% endblock %}

{% block content %}
  <script type="module">
    import { main } from "{{ url_for('static', filename='config/display_groups/add.mjs') }}";
    main();
  </script>


  {# <!-- [html-validate-disable-next attribute-allowed-values] --> doesn't understand J2 syntax #}
  <form
    id="display-group-form"
    action="/api/departments/{{ department_id }}/display_groups"
    enctype="multipart/form-data"
    method="post"
    class="post-form"
  >
    <h3>Create display group</h3>
    <label for="name">Name:</label>
    <input id="name" name="name" type="text" />

    <label for="template">Template:</label>
    <select id="template" name="template">
      {%- for name, template in templates -%}
        <option value="{{ loop.index }}">{{ name }}</option>
      {%- endfor -%}
      <option value="custom">[Custom]</option>
    </select>

    {%- for name, template in templates -%}
      {# <!-- [html-validate-disable-next attribute-allowed-values,valid-id] --> doesn't understand J2 syntax #}
      <fieldset id="template-{{ loop.index }}" class="template-fieldset">
        <legend>{{ name }} Template</legend>
        {%- for property in template.properties -%}
          {%- if property.type == "string" -%}
            <label
              >{{ property.pretty_name }}
              <input type="text" name="template-{{ property.variable_name }}" />
            </label>
          {%- elif property.type == "content_streams" -%}
            {{ content_stream(content_streams, "template-" + property.variable_name, true) }}
          {%- endif -%}
        {%- endfor -%}
      </fieldset>
    {%- endfor -%}

    <fieldset id="template-custom" class="template-fieldset">
      <legend>Custom display</legend>
      <label for="layout_xml">Layout XML:</label>
      <!-- [html-validate-disable no-unknown-elements, element-permitted-content, attr-spacing, close-attr, no-self-closing, element-name, element-permitted-parent] -->
      <textarea id="layout_xml" name="layout_xml" rows="10">
        <content-and-caption>
            <content>
                <clock/>
            </content>
            <caption>
                <body>Current time</body>
            </caption>
        </content-and-caption>
        </textarea
      >
    </fieldset>

    <h4>Preview</h4>
    <iframe
      title="Preview"
      id="preview"
      data-preview-url="/api/departments/{{ department_id }}/preview_display"
    ></iframe>

    <button type="submit">Submit</button>
    <p hidden id="status-message"></p>
  </form>
{% endblock %}
