{% extends "base.j2" %}

{%- if existing is not none -%}
  {% set action = 'Edit a display' %}
{%- else -%}
  {% set action = 'Add a display' %}
{%- endif -%}

{% block title %}{{ action }}{% endblock %}
{% block head %}
  {{ super() }}
  {{ css('config/displays/add') }}
{% endblock %}

{%- macro render_property(property) -%}
  {%- if property.type == "string" -%}
    <label
      >{{ property.name }}
      <input
        type="text"
        data-variable-name="{{ property.variable }}"
        value="{{ (property.default or '')|escape }}"
      />
    </label>
  {%- elif property.type == "file" -%}
    <label
      >{{ property.name }}
      <input type="file" data-variable-name="{{ property.variable }}" />
    </label>
  {%- elif property.type == "url" -%}
    <label>
      {{ property.name }}
      <input
        type="url"
        data-variable-name="{{ property.variable }}"
        value="{{ property.default|escape }}"
      />
    </label>
  {%- elif property.type == "file_or_url" -%}
    <fieldset>
      <legend>{{ property.name }}</legend>
      <label
        >File or URL
        <select class="select-file-or-url">
          <option value="url" selected>URL</option>
          <option value="file">File</option>
        </select>
      </label>

      <input
        aria-label="upload file"
        class="input-for-file"
        type="file"
        data-variable-name="{{ property.variable }}"
      />
      <input
        aria-label="input URL"
        class="input-for-url"
        type="url"
        data-variable-name="{{ property.variable }}"
        value="{{ property.default }}"
      />
    </fieldset>
  {%- elif property.type == "color" -%}
    <label
      >{{ property.name }}
      <input
        type="color"
        data-variable-name="{{ property.variable }}"
        value="{{ property.default }}"
      />
    </label>
  {%- elif property.type == "content_streams" -%}
    <label
      >{{ property.name }}:
      <select data-variable-name="{{ property.variable }}[]" multiple>
        <optgroup label="Public">
          {%- for stream in streams.public -%}
            <option value="{{ stream.id }}">{{ stream.name }}</option>
          {%- endfor -%}
        </optgroup>

        {%- for dept, streams in streams.by_department.items() -%}
          <optgroup label="Department: {{ departments[dept].name }}">
            {%- for stream in streams -%}
              <option value="{{ stream.id }}">{{ stream.name }}</option>
            {%- endfor -%}
          </optgroup>
        {%- endfor -%}
      </select>
    </label>
  {%- elif property.type == "rss_feeds" -%}
    <div class="column-list">
      {{ property.name }}

      <template>
        <div>
          <label>
            RSS Feed URL:
            <input type="url" data-variable-name="{{ property.variable }}[]" />
          </label>

          <button type="button" class="delete-rss-feed">Delete</button>
        </div>
      </template>

      <button
        type="button"
        data-variable-name="{{ property.variable }}"
        class="add-rss-feed"
      >
        Add feed
      </button>
    </div>
  {%- elif property.type in ["html", "xml-attribute"] -%}
    <label
      >{{ property.name }}
      <textarea data-variable-name="{{ property.variable }}" rows="5">
{{ (property.default or '')|escape }}</textarea
      >
    </label>
  {%- elif property.type == "number" -%}
    <label
      >{{ property.name }}
      <input
        type="number"
        data-variable-name="{{ property.variable }}"
        value="{{ (property.default or '')|escape }}"
      />
    </label>
  {%- endif -%}
{%- endmacro -%}

{%- macro render_group(group) -%}
  <fieldset>
    <legend>{{ group.name }}</legend>
    {%- for property in group.properties -%}
      {{ render_property(property) }}
    {%- endfor -%}
  </fieldset>
{%- endmacro -%}

{%- macro render_props_and_groups(vals) -%}
  {%- for val in vals -%}
    {%- if val|is_property -%}
      {{ render_property(val) }}
    {%- else -%}
      {{ render_group(val) }}
    {%- endif -%}
  {%- endfor -%}
{%- endmacro -%}

{% block content %}
  {%- if existing is not none -%}
    {% set pages = existing.pages %}
    {% set name = existing.name %}
  {%- else -%}
    {% set pages = [] %}
    {% set name = '' %}
  {%- endif -%}

  <!-- prettier-ignore -->
  <script type="module">
    import { main } from "{{ url_for('static', filename='config/displays/add.mjs') }}";
    main("{{ department_id }}", {{ pages|tojson }});
  </script>

  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
  />

  {# <!-- [html-validate-disable-next attribute-allowed-values] --> doesn't understand J2 syntax #}
  <form
    id="display-group-form"
    action="/api/departments/{{ department_id }}/displays"
    enctype="multipart/form-data"
    method="post"
    class="post-form"
    data-department-id="{{ department_id }}"
  >
    <div id="tab-list"></div>

    <div class="tab" id="overview-tab">
      <div id="overview-fields">
        <label for="name">Name:</label>
        <input id="name" name="name" type="text" required value="{{ name }}" />

        {%- if existing is not none -%}
          <input type="hidden" name="display_id" value="{{ existing.id }}" />
        {%- endif -%}

        <button type="submit">
          {%- if existing is not none -%}
            Save and edit display
          {%- else -%}
            Create display
          {%- endif -%}
        </button>
        <p hidden id="status-message"></p>
      </div>

      <div class="preview-container" id="preview-all-container">
        <iframe title="Preview" id="preview-all" class="preview"></iframe>
      </div>
    </div>

    <template id="new-page-template">
      <div class="page-tab tab">
        <fieldset>
          <legend>Page</legend>

          <label
            >Template:
            <select class="template-select">
              {%- for template in templates -%}
                <option value="{{ template.id }}">{{ template.name }}</option>
              {%- endfor -%}
            </select>
          </label>

          <label
            >Duration to show page (secs):
            <input class="template-duration" type="number" value="10" />
          </label>

          {%- for template in templates -%}
            <fieldset
              class="template-{{ template.id.replace('.', '-').replace('/', '-') }}"
            >
              <legend>{{ template.name }}</legend>

              {{ render_props_and_groups(template.properties.root) }}

              {%- if template.properties.advanced -%}
                <details>
                  <summary>Advanced</summary>
                  {{ render_props_and_groups(template.properties.advanced) }}
                </details>
              {%- endif -%}
            </fieldset>
          {%- endfor -%}
        </fieldset>

        <div class="preview-container">
          <iframe title="Preview" class="preview"></iframe>
        </div>
      </div>
    </template>
  </form>
{% endblock %}
