{% extends "base.j2" %}

{% block title %}Display Groups{% endblock %}
{% block head %}
  {{ super() }}
  {{ css('main') }}
{% endblock %}

{% block content %}
  <div class="column-list">
    {%- for department in departments -%}
      <div>
        <h4>Display groups:</h4>
        {%- if department.display_groups -%}
          <ul>
            {%- for group in department.display_groups -%}
              <li>
                <a href="/display/{{ department.id }}/{{ group.id }}"
                  >{{ group.name }}</a
                >
                {%- if group.content_streams -%}
                  <ul>
                    {%- for stream in group.content_streams -%}
                      <li>{{ stream.name }} (ID: {{ stream.id }})</li>
                    {%- endfor -%}
                  </ul>
                {%- endif -%}
                <p>
                  <a href="/config/content_stream/add?group={{ group.id }}"
                    >Add content stream</a
                  >
                </p>
              </li>
            {%- endfor -%}
          </ul>
        {%- else -%}
          <p>This department has no display groups.</p>
        {%- endif -%}

        <a href="/config/departments/{{ department.id }}/display_group/add"
          >Add display group</a
        >
      </div>
    {%- endfor -%}
  </div>
{% endblock %}
