{% extends "base.j2" %}

{% block title %}Upload Department Files{% endblock %}
{% block head %}
  {{ super() }}
  {{ css('config') }}
{% endblock %}

{% block content %}
  <script type="module">
    import { main } from "{{ url_for('static', filename='config.mjs') }}";
    main();
  </script>
  <div class="column-list">
    <!-- find the correct form action and how to extract the name of the file from the form:api/department/{{ department.id }}/files-->
    <form
      action="{{ url_for('api.upload_department_files', department_id=department.id) }}"
      method="post"
      enctype="multipart/form-data"
      class="post-form"
    >
      <h3>Upload Department File</h3>
      <input
        type="hidden"
        id="department_file_post_type"
        name="type"
        value="department_file"
      />
      <label for="department_file_data">Attach file:</label>
      <input
        type="file"
        id="department_file_data"
        name="department_file_data"
      />

      <button type="submit">Submit</button>
      <p hidden class="status-message"></p>
    </form>
  </div>
{% endblock %}
