{% extends "base.j2" %}

{% block title %}Departments{% endblock %}
{% block head %}
  {{ super() }}
  {{ css('config') }}

  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
  />

  <script type="module">
    import { main } from "{{ url_for('static', filename='config/departments/index.mjs') }}";
    main();
  </script>
{% endblock %}

{% block content %}
  <div class="column-list">
    {%- for department in departments -%}
      <div>
        <h3>Displays:</h3>
        {%- if department.displays -%}
          <div class="column-list">
            {%- for display in department.displays -%}
              <div class="display-entry column-list">
                {%- set link = "display/" + department.id|string + "/" + display.id|string -%}
                <h4>
                  <a href="/{{ link }}">{{ display.name }}</a>
                  {% if current_user.permissions != "posting_user" %}
                    <a
                      href="/config/departments/{{ department.id }}/display/{{ display.id }}"
                      class="button-link"
                    >
                      <span class="material-symbols-outlined button-icon"
                        >edit</span
                      >
                    </a>

                    <button
                      type="button"
                      class="delete-display icon-button"
                      data-department-id="{{ department.id }}"
                      data-display-id="{{ display.id }}"
                    >
                      <span class="material-symbols-outlined button-icon"
                        >delete</span
                      >
                    </button>
                  {% endif %}
                </h4>
                <p>
                  Permalink to display view -
                  <a href="/{{ link }}"> {{ base }}{{ link }} </a>
                </p>

                <div class="display-small-preview-container">
                  <iframe
                    title="{{ display.name }}"
                    class="display-small-preview"
                    src="/{{ link }}"
                  ></iframe>
                </div>
              </div>
            {%- endfor -%}
          </div>
        {%- else -%}
          <p>This department has no displays.</p>
        {%- endif -%}
        {% if current_user.permissions != "posting_user" %}
          <a href="/config/departments/{{ department.id }}/display/add"
            >Add display</a
          >
        {% endif %}

        <h4>Content feeds:</h4>
        {%- if department.content_streams -%}
          <ul>
            {%- for stream in department.content_streams -%}
              <li>{{ stream.name }} (ID: {{ stream.id }})</li>
            {%- endfor -%}
          </ul>
        {%- else -%}
          <p>This department owns no content feeds.</p>
        {%- endif -%}
        <a href="/config/content_stream/add?department={{ department.id }}"
          >Add content feed</a
        >
      </div>
    {%- endfor -%}
  </div>
{% endblock %}
