{% extends "base.j2" %}

{% block title %}Departments{% endblock %}
{% block head %}
  {{ super() }}
  {{ css('main') }}
{% endblock %}

{% block content %}
  <div class="column-list">
    {%- for department in departments -%}
      <div>
        <h3>{{ department.name }}</h3>
        <p>{{ department.bio }}</p>
        <a href="/config/departments/{{ department.id }}/people">View people</a
        ><br />
        <a href="/config/departments/{{ department.id }}/files">View files</a>

        <h4>Displays:</h4>
        {%- if department.displays -%}
          <ul>
            {%- for display in department.displays -%}
              <li>
                <a href="/display/{{ department.id }}/{{ display.id }}">
                  {{ display.name }}
                </a>

                <a
                  href="/config/departments/{{ department.id }}/display/{{ display.id }}"
                >
                  (Edit layout)
                </a>

                {%- if display.content_streams -%}
                  <ul>
                    {%- for stream in display.content_streams -%}
                      <li>{{ stream.name }} (ID: {{ stream.id }})</li>
                    {%- endfor -%}
                  </ul>
                {%- endif -%}
                <p>
                  <a href="/config/content_stream/add?group={{ display.id }}"
                    >Add content stream</a
                  >
                </p>
              </li>
            {%- endfor -%}
          </ul>
        {%- else -%}
          <p>This department has no displays.</p>
        {%- endif -%}

        <a href="/config/departments/{{ department.id }}/display/add"
          >Add display</a
        >

        <h4>Content streams:</h4>
        {%- if department.content_streams -%}
          <ul>
            {%- for stream in department.content_streams -%}
              <li>{{ stream.name }} (ID: {{ stream.id }})</li>
            {%- endfor -%}
          </ul>
        {%- else -%}
          <p>This department owns no content streams.</p>
        {%- endif -%}
        <a href="/config/content_stream/add?department={{ department.id }}"
          >Add content stream</a
        >
      </div>
    {%- endfor -%}
  </div>
{% endblock %}
