@import url("../../config.css");

.add-page {
  background: #d3d3d3;
  aspect-ratio: 16 / 9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 1.4rem;
  border: 2px inset grey;
}

.add-page .material-symbols-outlined {
  font-size: 3rem;
}

.add-page:hover {
  background: grey;
  color: white;
}
