{% extends "base.j2" %}

{% block title %}Upload Content{% endblock %}
{% block head %}
  {{ super() }}
  {{ css('config') }}
{% endblock %}

{% block content %}
  <!-- prettier-ignore -->
  <script type="module">
    import {
      showContent
    } from "{{ url_for('static', filename='config.mjs') }}";
    showContent({{content_stream_ids}});
  </script>
  {% if current_user.permissions != "posting_user" %}
    <button
      type="button"
      class="button-primary"
      onclick="window.location.href='/config/content_stream/add'"
    >
      Add content feed
    </button>
  {% endif %}
  <button
    type="button"
    class="button-primary"
    onclick="window.location.href='/config/add_posts'"
  >
    Add a piece of content
  </button>
  <div class="column-list" id="root"></div>
{% endblock %}
