{% extends "base.j2" %}

{% block title %}Adding New Users{% endblock %}
{% block head %}
  {{ super() }}
  {{ css('config/users') }}
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
  />
{% endblock %}
<!-- prettier-ignore -->
{% block content %}
  <script type="module">
    import {
      setupPostForms,
      populateDepartments,
    } from "{{ url_for('static', filename='config.mjs') }}";
    setupPostForms(function (res) {
      if (res.id === "response needed") {
        return `Response: ${res.response}`;
      } else {
        return `Successfully submitted (id: ${res.id})`;
      }
    });
    var departmentData = {{ departmentData | tojson | safe }};
    populateDepartments(departmentData);
  </script>
  <div class="user-description">
  <p>
    Adding a new user is simple and comes with various permission levels:
  </p>
  <ul>
    <li>
      <strong>Super User:</strong> Reserved for UCT Admin members, super users have
      unrestricted access to all system features.
    </li>
    <li>
      <strong>Editing User:</strong> Members of specific departments with full access to
      department-related functions.
    </li>
    <li>
      <strong>Posting User:</strong> Users who can add new posts but lack editing access
      to department information and displays.
    </li>
  </ul>
  <p>
    Customize user access levels based on department requirements.
  </p>
</div>
      <form
        action="/api/register"
        method="post"
        class="register post-form"
        enctype="multipart/form-data"
      >
        <label>
          Email Address:
          <input type="email" id="email" name="email" required />
        </label>

        <label>
          Username:
          <input type="text" id="screen_name" name="screen_name" required />
        </label>
        <!-- This form is buggy and needs fixing -->
        <label>
          Password:
          <input
            type="password"
            id="password"
            name="password"
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{12,}"
            title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
            required
          />
        </label>

        <label>
          Department:
          <select id="department" name="department" required>
            <!-- Options will be dynamically populated here -->
          </select>
        </label>

        <label>
          Select permission:
          <select id="permissions" name="permissions" required>
            <option value="superuser">Superuser</option>
            <option value="edit_user">Editing user</option>
            <option value="posting_user">Posting user</option>
          </select>
        </label>
        <button type="submit" name="register">Create account</button>
        <p hidden id="status-message"></p>
      </form>

{% endblock %}
