<!DOCTYPE html>
<html lang="en">
  <head>
    {%- macro css(url) -%}
      <link
        href="{{ url_for('static', filename=url + '.css') }}"
        rel="stylesheet"
      />
    {%- endmacro -%}

    {% block head %}
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Campusign - {% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
  <body>
    <header>
      <div class="header-content"></div>
      <h1><a href="/">CampuSign</a></h1>
      <div class="user-info"></div>
      {% if current_user.is_authenticated %}
        <p>Welcome, {{ current_user.user_id }}</p>
        <a href="{{ url_for('api.logout_route') }}">Logout</a>
      {% endif %}
    </header>
    <nav>
      <a href="/display/1/1">Default display view</a>
      <a href="/config/departments">Departments</a>
      <a href="/config">Upload Content</a>
    </nav>
    <div id="main-wrap">
      <main>
        <h2>{{ self.title() }}</h2>
        {% block content %}{% endblock %}
      </main>
    </div>

    {% block after_main %}{% endblock %}
  </body>
</html>
