<!DOCTYPE html>
<html lang="en-ZA">
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Open Sans"
      rel="stylesheet"
    />

    <link
      href="{{ url_for('static', filename='display.css') }}"
      rel="stylesheet"
    />
    <title>CampuSign</title>
  </head>

  <body>
    <h1>CampuSign</h1>
    <h2>Config view</h2>

    <form action="/api/content" method="post">
      <label for="type">Type of content:</label>
      <select id="type" name="type">
        <option value="text">Text</option>
      </select>

      <label for="title">Title:</label>
      <input id="title" name="title" type="text" />

      <label for="body">Body:</label>
      <input id="body" name="body" type="text" />

      <button type="submit">Submit</button>
    </form>

<!-- This is just basic placeholder stuff I made for the development of the function. to be replaced by dylans code -->

        <form action="/api/department_info" method="post">

      <label for="name">Name:</label>
      <input id="name" name="name" type="text" /> 
      <label for="title">Title of lecturer:</label>
      <select id="title" name="title">
        <option value="mr">Mr</option>
        <option value="mrs">Mrs</option>
        <option value="ms">Ms</option>
      </select>
      <label for="position">Position:</label>
      <input id="position" name="position" type="text" />

      <label for="office_hours">Office hours:</label>
      <input id="office_hours" name="office_hours" type="text" />

      <label for="office_location">Office location:</label>
      <input id="office_location" name="office_location" type="text" />

      <label for="email">Email Address:</label>
      <input id="email" name="email" type="text" />

      <label for="phone">Telephone number:</label>
      <input id="phone" name="phone" type="text" />

      <button type="submit">Submit</button>
    </form>

<!-- This is the end of the placeholder section -->    
  </body>
</html>
