<!DOCTYPE html>
<html lang="en-ZA">
  <head>
    <link
      href="{{ url_for('static', filename='display.css') }}"
      rel="stylesheet"
    />
    <title>CampuSign</title>
    <!-- [html-validate-disable-next meta-refresh] -->
    <meta http-equiv="refresh" content="3600" />
    {# Refresh every hour #}
    {# This is typically bad for screen readers
    but that is irrelevant as this is a digital display #}
  </head>

  <body>
    {# prettier kinda breaks on this #}
    <!-- prettier-ignore -->
    <script type="module">
      import { main } from "{{ url_for('static', filename='display.mjs') }}"
      main({{ display_config|tojson }})
    </script>

    <div id="errors" class="error" hidden></div>

    <div id="root"></div>
  </body>
</html>
