<!DOCTYPE html>
<html lang="en-ZA">
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Open Sans"
      rel="stylesheet"
    />

    <link
      href="{{ url_for('static', filename='display.css') }}"
      rel="stylesheet"
    />
    <title>CampuSign</title>
  </head>

  <body>
    <script
      type="module"
      src="{{ url_for('static', filename='display.mjs') }}"
    ></script>

    <h1>CampuSign</h1>
    <p>Hello, display view!</p>
  </body>
</html>
