{% extends "base.j2" %}

{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  {{ css('main') }}
{% endblock %}

{% block content %}
  <ul>
    <li><a href="/display/1/1">Default display view</a></li>
    <li>
      <a href="/config">Config</a>
      <ul>
        <li>
          <a href="/config/departments/1/lecturers">Lecturers (default dept)</a>
          <ul>
            <li>
              <a href="/config/departments/1/lecturers/add">Add a lecturer</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
{% endblock %}
