{% extends "base.j2" %}

{% block title %}Login to Campusign{% endblock %}
{% block head %}
  {{ super() }}
  {{ css('main') }}
{% endblock %}

{% block content %}
  <script type="module">
    import { setupPostForms } from "{{ url_for('static', filename='config.mjs') }}";
    setupPostForms();
  </script>

  <form action="/api/login" method="post" name="login">
    <label
      >Email Address:
      <input type="email" id="email" name="email" required />
    </label>

    <label
      >Password:
      <input type="password" id="password" name="password" required />
    </label>

    <button type="submit" name="login">Login</button>
    {%- if attempt == "password" -%}
      <p id="status-message-password" class="login-messages">
        Failed login. Incorrect password
      </p>
    {%- elif attempt == "email" -%}
      <p id="status-message-email" class="login-messages">
        Failed login. Incorrect email
      </p>
    {%- endif -%}
  </form>
{% endblock %}
