{%- macro content_stream(streams, name, multiple) -%}
  {%- set name = name|default('content_stream') -%}
  <label
    >{%- if multiple is defined -%}Content streams:{%- else -%}Content stream:{%- endif -%}
    <select name="{{ name }}" {% if multiple is defined %}multiple{% endif %}>
      <optgroup label="Public">
        {%- for stream in streams.public -%}
          <option value="{{ stream.id }}">{{ stream.name }}</option>
        {%- endfor -%}
      </optgroup>

      {%- for dept, streams in streams.by_department.items() -%}
        <optgroup label="Department: {{ dept }}">
          {%- for stream in streams -%}
            <option value="{{ stream.id }}">{{ stream.name }}</option>
          {%- endfor -%}
        </optgroup>
      {%- endfor -%}

      {%- for group, streams in streams.by_display_group.items() -%}
        <optgroup label="Display group: {{ group }}">
          {%- for stream in streams -%}
            <option value="{{ stream.id }}">{{ stream.name }}</option>
          {%- endfor -%}
        </optgroup>
      {%- endfor -%}
    </select>
  </label>
{%- endmacro -%}
