<!DOCTYPE html>
<html lang="en-ZA">
  <head>
    <link
      href="{{ url_for('static', filename='display.css') }}"
      rel="stylesheet"
    />
    <title>register</title>
  </head>
  <body>
    <h1>Registration Page</h1>
  </body>
</html>
