{% extends "base.j2" %}

{% block title %}Register a new user{% endblock %}
{% block head %}
  {{ super() }}
  {{ css('main') }}
{% endblock %}

{% block content %}
  <script type="module">
    import { main } from "{{ url_for('static', filename='config.mjs') }}";
    main();
  </script>

  <form action="/api/user" method="post" class="post-form">
    <label
      >Email Address:
      <input type="text" id="email" name="email" required />
    </label>

    <label
      >screen Name:
      <input type="text" id="screen_name" name="screen_name" required />
    </label>

    <label
      >Password:
      <input type="text" id="password" name="password" required />
    </label>

    <button type="submit">Create Account</button>
    <p hidden class="post-status-message"></p>
  </form>
{% endblock %}
