{% extends "base.j2" %}

{% block title %}Add a lecturer{% endblock %}
{% block head %}
  {{ super() }}
  {{ css('config/department/lecturer') }}
{% endblock %}

{% block content %}
  <form>
    <label
      >Name:
      <input type="text" id="name" name="name" required />
    </label>

    <label
      >Title:
      <select id="title" name="title" required>
        <option value="mr">Mr</option>
        <option value="mrs">Mrs</option>
        <option value="ms">Ms</option>
        <option value="ms">Mx</option>
        <option value="prof">Professor</option>
        <option value="associate_prof">Associate Professor</option>
        <option value="dr">Dr</option>
      </select>
    </label>

    <label
      >Position:
      <input type="text" id="position" name="position" required />
    </label>

    <label
      >Office Location:
      <input type="text" id="office" name="office" />
    </label>

    <label
      >Email Address:
      <input type="email" id="email" name="email" required />
    </label>

    <label
      >Telephone Number:
      <input type="tel" id="tel" name="tel" required />
    </label>

    <div>
      <label>Office hours:</label>
      <input type="time" name="start_time" aria-label="start_time" />
      to
      <input type="time" name="end_time" aria-label="end_time" />
    </div>

    <label
      >Department:
      <select id="department" name="department">
        <option value="computer_science">Computer Science</option>
        <option value="mathematics">Mathematics</option>
        <option value="chemistry">Chemistry</option>
      </select>
    </label>

    <button type="submit">Submit</button>
  </form>
{% endblock %}
